/* Basic style reset */
.link {text-decoration: none;}
.list {
    margin: 0;
    padding: 0;
    list-style: none;  
}


h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p { 
    margin: 0; 
}

button {
    padding: 0;
    border: 0;
    cursor: pointer;
}

.thumbnail {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}


/* Custom properties */

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-silver: #757575;
    --color-dark-green: #212121;
    --color-white-smoke: #F5F5F5;
    --color-white-solid: #F5F4FA;
    --color-blue: #2196F3;
    --persian-blue: #188CE8;
    --color-bright-gray: #ECECEC;
    --color-solid-green: #AFB1B8;
    --color-silver-sand:#C4C4C4;
}

/* Styles for the container that centers the content */

body { 
    font-family: 'Roboto';
    color: var(--color-silver); 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section { padding: 94px 0; }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Styles for the logo */

.logo {
    display: inline-block;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.173;
    letter-spacing: 0.03em;
    color: var(--color-black);
}

.logo__text--blue { color: var(--color-blue); }

.header .logo {
    padding: 24px 0;
}

/* Styles for the header element */

.header { border-bottom: 1px solid var(--color-bright-gray); }

.header .container {
    display: flex;
    align-items: center;
}

.header-menu { margin-left: 93px; }

.header-menu__item { 
    display: inline-block;
    margin-left: 50px; 
}

.header-menu__item:first-of-type { margin-left: 0; }

.header-menu__link {
    position: relative;
    display: inline-block;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 0.875;
    letter-spacing: 0.02em;
    color: var(--color-dark-green);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu__link::after {
    content: '';
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    transform: scaleY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu__link:hover::after,
.header-menu__link:focus::after {
    transform: scaleY(1);
}

.header-menu__link.is-active,
.header-menu__link.is-active::after {
    color: var(--color-blue);
    transform: scaleY(1);
}

.header-menu__link:hover,
.header-menu__link:focus { 
    color: var(--color-blue);
}

.header-contact {
    display: inline-flex;
    align-items: center; 
    margin-left: auto; 
}


.header-contact__item {
    display: inline-flex;
}


.header-contact__item {
    margin-left: 30px;
}

.header-contact__icon {
    display: inline-block;
    margin-right: 10px;
}

.header-contact li:first-of-type { margin-left: 0; }

.header-contact__link {
    display: inline-flex;
    align-items: center;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 0.875;
    letter-spacing: 0.02em;
    color: var(--color-silver);
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact__link:hover,
.header-contact__link:focus { 
    color: var(--color-blue);
}

.header-contact__link:hover .header-contact__icon,
.header-contact__link:focus .header-contact__icon,
.header-contact__link:focus-visible .header-contact__icon {
    fill: var(--color-blue);
} 

/* Inner title for section */

.title-section {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-dark-green);
}

/* Component list */

.list-item-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
    text-align: center;
}


.tabs-item__button {
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    color: var(--color-dark-green);
    background-color: var(--color-white-solid);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tabs-item__button:hover,
.tabs-item__button:focus {
    color: var(--color-white);
    background-color: var(--color-blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.service {padding-bottom: 94px;}

/* Styles for the banner section element */

.banner {
    max-width: 1600px;
    margin: 0 auto;
    padding: 200px 0;
    background-color: var(--color-silver-sand);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/banner-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.banner-title {
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white);
}

.order-service {
    position: relative;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--color-white);
    background-color: var(--color-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service:hover,
.order-service:focus {
    background-color: var(--persian-blue);
}

/* Styles for the About us section element */

.about-us__list {
    display: flex;
    gap: 30px;
}

.about-us__item {
    flex-grow: 1;
    width: calc(25% - 30px);
}

.about-us__item-box {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.about-us__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-dark-green);
}

.about-us__paragraph {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-silver);
}

.service-list__item { position: relative; }

.services-title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--color-white);
}

/*  Styles for the About team element */

.about-team { background-color: var(--color-white-solid); }

.list-team__item {
    text-align: center;
    background: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.list-team__content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.list-team__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color: var(--color-dark-green);
}

.list-team__description {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-silver);
}

.social-item {
    display: inline-block;
    width: 44px;
    height: 44px;
    margin-left: 10px;
}

.social-item:first-of-type {
    margin-left: 0;
}

.list-team .social-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-team .social-link .social-icon {
    fill: var(--color-solid-green);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.social-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.list-team .social-link:hover,
.list-team .social-link:focus {
    background-color: var(--color-blue);
}

.list-team .social-link:hover .social-icon,
.list-team .social-link:focus .social-icon {
    fill: var(--color-white);
}

/*  Styles for the portfolio element*/

.portfolio-item {
    flex-grow: 1;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 
.portfolio-item__name {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-dark-green);
}

.portfolio-item__category {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--color-silver);
}

.portfolio-item__content {
    padding: 20px 24px;
    border-left: 1px solid var(--color-bright-gray);
    border-right: 1px solid var(--color-bright-gray);
    border-bottom: 1px solid var(--color-bright-gray);   
}

.portfolio-item__box {
   position: relative;
   overflow: hidden;
}

.portfolio-item__box-inner {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    display: flex;
    align-items: center;
    padding: 0 24px;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transform-origin: bottom;
    visibility: hidden;
    opacity: 0;
    transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
}

.portfolio-item__description {
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--color-white);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16); 
    outline: transparent; 
}

.portfolio-link {
    display: inline-block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-item__box-inner,
.portfolio-link:focus .portfolio-item__box-inner {
    height: 100%;
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}


/* Styles for the clints element */

.clients-list {
    text-align: center;
}

.clients-item {
    flex-grow: 1;
}

.clients-link {
    display: flex;
    width: 100%;
    height: 92px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid var(--color-solid-green);
    fill: var(--color-solid-green);
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .clients-link:hover,
 .clients-link:focus {
    border: 1px solid var(--color-blue);
    fill: var(--color-blue);
}

/* Styles for the footer element */

.footer {
    padding: 60px 0;
    background-color:  #2F303A;
}

.footer .container {
    display: flex;
}

.footer-box {
    display: flex;
    gap: 70px;
}

.footer-title {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-white);
}

.footer .logo {
    margin-bottom: 20px;
    color: var(--color-white);
}

.footer-item .social-link {
    fill: var(--color-white);
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item .social-link:hover,
.footer-item .social-link:focus {
    background-color: var(--color-blue);
}

.address {
    font-style: normal;
}

.address-description {
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--color-white);
}

.address-list__item { margin-bottom: 9px; }
.address-list__item:last-of-type { margin-bottom: 0; }

.address-list__link {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__link:hover,
.address-list__link:focus {
    color: var(--color-blue);
}

.subscribe { margin-left: auto; }

.subscribe-form {
    display: flex;
    gap: 12px;
}

.subscribe-title {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-white);
}

.subscribe-label { display: inline-block; }

.subscribe-input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:focus {
    border: 1px solid var(--color-blue);
}

.subscribe-submit {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    font-weight: 700;
    line-height: 1.875;
    color: var(--color-white);
    background: var(--color-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-submit:hover,
.subscribe-submit:focus {
    background-color: var(--persian-blue);
}

.subscribe-icon {
    display: inline-block;
    padding-left: 10px;
}

/* Styled for Modal */

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 100;
}


.backdrop .backdrop-content { transform: translate(-50%, -50%); }

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop-content {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 528px;
    padding: 40px;  
    background-color: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-close {
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    fill: var(--color-black);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-close:hover,
.backdrop-close:focus {
    fill: var(--color-blue);
}

.register { padding: 0 40px; }

.register-form { text-align: center; }

.register-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.register-item.register-item__comment {
    margin-bottom: 20px;
}

.register-item.register-item__privacy {
    margin-bottom: 30px;
}

.backdrop-title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-dark-green);
}

.register-input,
.register-comment,
.register-input,
.register-comment,
.subscribe-input {
    outline: transparent;
}

.register-input:focus,
.register-area:focus {
    border: 1px solid var(--color-blue);
}

.register-input:focus + .register-icon {
    fill: var(--color-blue);
}

.register-label {
    margin-bottom: 4px;
    text-align: left;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--color-silver);
}

.register-input {
    width: 100%;
    height: 40px;
    padding: 12px 0 12px 42px;
    font-size: 12px;
    color: rgba(117, 117, 117, 0.5);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-field {
    position: relative;
}

.register-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translate(0, -50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-area {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    outline: transparent;
}

.register-area::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.privacy-policy {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.privacy-policy-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-silver);
}

.register-checkbox {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 9px;
}

.register-checked {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.register-checked:focus + .checked-icon  {
    outline: 1px solid var(--color-dark-green);
}

.checked-icon { 
    display: inline-block;
    width: 16px;
    height: 15px;
    background-image: url('../images/checkbox-default.svg');
    background-repeat: no-repeat;
    outline: 1px solid transparent;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.register-checked:checked + .checked-icon {
    background-image: url('../images/checbox-active.svg');
    background-repeat: no-repeat; 
}

.privacy-policy-link {
    position: relative;
    color: var(--color-blue);
}

.privacy-policy-link::after {
    content: "";
    position: absolute;
    left: -4px ;
    bottom: 0;
    width: 100%;
    height: .1px;
    background-color: var(--color-blue);
}

.register-submit {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--color-white);
    background-color: var(--color-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-submit:hover,
.register-submit:focus {
    background-color: var(--persian-blue);
}
